2.Codes/iEAS/iEAS.Framework.Web/bin/Debug/iEAS.Framework.Web.dll
2.Codes/iEAS/iEAS.Framework.Web/bin/Debug/iEAS.Framework.Web.pdb
2.Codes/iEAS/iEAS.Framework.Web/obj/Debug/iEAS.Framework.Web.dll
2.Codes/iEAS/iEAS.Framework.Web/obj/Debug/iEAS.Framework.Web.pdb
2.Codes/iEAS/iEAS.Framework/bin/Debug/EntityFramework.dll
2.Codes/iEAS/iEAS.Framework/bin/Debug/EntityFramework.SqlServer.dll
2.Codes/iEAS/iEAS.Framework/bin/Debug/EntityFramework.SqlServer.xml
2.Codes/iEAS/iEAS.Framework/bin/Debug/EntityFramework.xml
2.Codes/iEAS/iEAS.Framework/bin/Debug/iEAS.Framework.dll
2.Codes/iEAS/iEAS.Framework/bin/Debug/iEAS.Framework.dll.config
2.Codes/iEAS/iEAS.Framework/bin/Debug/iEAS.Framework.pdb
2.Codes/iEAS/iEAS.Framework/bin/Debug/log4net.dll
2.Codes/iEAS/iEAS.Framework/bin/Debug/log4net.xml
2.Codes/iEAS/iEAS.Framework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
2.Codes/iEAS/iEAS.Framework/obj/Debug/iEAS.Framework.csproj.FileListAbsolute.txt
2.Codes/iEAS/iEAS.Framework/obj/Debug/iEAS.Framework.csprojResolveAssemblyReference.cache
2.Codes/iEAS/iEAS.Framework/obj/Debug/iEAS.Framework.dll
2.Codes/iEAS/iEAS.Framework/obj/Debug/iEAS.Framework.pdb
2.Codes/iEAS/iEAS.Management.Web/bin/EntityFramework.dll
2.Codes/iEAS/iEAS.Management.Web/bin/EntityFramework.SqlServer.dll
2.Codes/iEAS/iEAS.Management.Web/bin/EntityFramework.xml
2.Codes/iEAS/iEAS.Management.Web/bin/iEAS.Framework.dll
2.Codes/iEAS/iEAS.Management.Web/bin/iEAS.Framework.pdb
2.Codes/iEAS/iEAS.Management.Web/bin/iEAS.Management.dll
2.Codes/iEAS/iEAS.Management.Web/bin/iEAS.Management.pdb
2.Codes/iEAS/iEAS.Management.Web/bin/iEAS.Management.Web.dll
2.Codes/iEAS/iEAS.Management.Web/bin/iEAS.Management.Web.dll.config
2.Codes/iEAS/iEAS.Management.Web/bin/iEAS.Management.Web.pdb
2.Codes/iEAS/iEAS.Management.Web/bin/log4net.dll
2.Codes/iEAS/iEAS.Management.Web/bin/log4net.xml
2.Codes/iEAS/iEAS.Management.Web/bin/iEAS.Framework.dll
2.Codes/iEAS/iEAS.Management.Web/obj/Debug/build.force
2.Codes/iEAS/iEAS.Management.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
2.Codes/iEAS/iEAS.Management.Web/obj/Debug/iEAS.Management.Web.csproj.FileListAbsolute.txt
2.Codes/iEAS/iEAS.Management.Web/obj/Debug/iEAS.Management.Web.csprojResolveAssemblyReference.cache
2.Codes/iEAS/iEAS.Management.Web/obj/Debug/iEAS.Management.Web.dll
2.Codes/iEAS/iEAS.Management.Web/obj/Debug/iEAS.Management.Web.pdb
2.Codes/iEAS/iEAS.Management/bin/Debug/Autofac.dll
2.Codes/iEAS/iEAS.Management/bin/Debug/Autofac.Integration.Web.dll
2.Codes/iEAS/iEAS.Management/bin/Debug/Autofac.xml
2.Codes/iEAS/iEAS.Management/bin/Debug/EntityFramework.dll
2.Codes/iEAS/iEAS.Management/bin/Debug/EntityFramework.xml
2.Codes/iEAS/iEAS.Management/bin/Debug/iEAS.Framework.dll
2.Codes/iEAS/iEAS.Management/bin/Debug/iEAS.Framework.pdb
2.Codes/iEAS/iEAS.Management/bin/Debug/iEAS.Management.dll
2.Codes/iEAS/iEAS.Management/bin/Debug/iEAS.Management.pdb
2.Codes/iEAS/iEAS.Management/bin/Debug/log4net.dll
2.Codes/iEAS/iEAS.Management/bin/Debug/log4net.xml
2.Codes/iEAS/iEAS.Management/obj/Debug/build.force
2.Codes/iEAS/iEAS.Management/obj/Debug/iEAS.Management.csproj.FileListAbsolute.txt
2.Codes/iEAS/iEAS.Management/obj/Debug/iEAS.Management.csprojResolveAssemblyReference.cache
2.Codes/iEAS/iEAS.Management/obj/Debug/iEAS.Management.dll
2.Codes/iEAS/iEAS.Management/obj/Debug/iEAS.Management.pdb
2.Codes/iEAS/Modules/Orgnization/iEAS.Orgnization.Web/bin/iEAS.Orgnization.Web.dll
2.Codes/iEAS/Modules/Orgnization/iEAS.Orgnization.Web/bin/iEAS.Orgnization.Web.pdb
2.Codes/iEAS/Modules/Orgnization/iEAS.Orgnization.Web/obj/Debug/iEAS.Orgnization.Web.dll
2.Codes/iEAS/Modules/Orgnization/iEAS.Orgnization.Web/obj/Debug/iEAS.Orgnization.Web.pdb
2.Codes/iEAS/Modules/Orgnization/iEAS.Orgnization/bin/Debug/iEAS.Orgnization.dll
2.Codes/iEAS/Modules/Orgnization/iEAS.Orgnization/bin/Debug/iEAS.Orgnization.pdb
2.Codes/iEAS/Modules/Orgnization/iEAS.Orgnization/obj/Debug/iEAS.Orgnization.dll
2.Codes/iEAS/Modules/Orgnization/iEAS.Orgnization/obj/Debug/iEAS.Orgnization.pdb
/2.Codes/iEAS/iEAS.Framework/obj
/2.Codes/iEAS/iEAS.Framework/bin
/2.Codes/iEAS/iEAS.Framework.Web/bin
/2.Codes/iEAS/iEAS.Framework.Web/obj
/2.Codes/iEAS/iEAS.Management/obj
/2.Codes/iEAS/iEAS.Management/bin
bin
obj
*.suo
*.suo
