<?xml version="1.0" encoding="utf-8"?>
<MenuConfig>
  <Menu ID="" Name="个人桌面" Url="Desktop.aspx">
  </Menu>
  <Menu ID="" Name="个人办公" Url="">
    <Menu ID="" Name="信息发布" Url=""></Menu>
  </Menu>
  <Menu ID="" Name="内容管理" Url="">
    <Menu ID="" Name="信息发布" Url="Pages/Module/ChannelIndex.aspx"></Menu>
    <Menu ID="" Name="新闻动态" Url="ModelQuery/News"></Menu>
    <Menu ID="" Name="用户案例" Url="ModelQuery/News"></Menu>
    <Menu ID="" Name="产品特色" Url="ModelQuery/News"></Menu>
    <Menu ID="" Name="单页面" Url="ModelQuery/News"></Menu>
    <Menu ID="" Name="Html片断" Url="ModelQuery/News"></Menu>
    <Menu ID="" Name="模型管理" Url="Pages/Model/ModelRegistryList.aspx"></Menu>
    <Menu ID="" Name="栏目管理" Url="Pages/Module/ChannelList.aspx"></Menu>
    <Menu ID="" Name="模板管理" Url="Pages/Model/ModelRegistryList.aspx"></Menu>
    <Menu ID="" Name="静态页面" Url=""></Menu>
  </Menu>
  <Menu ID="" Name="组织机构" Url="Pages/Orgnization/EmployeeIndex.aspx">
    <Menu ID="" Name="公司管理" Url="Pages/Orgnization/CompanyList.aspx"></Menu>
    <Menu ID="" Name="部门管理" Url="Pages/Orgnization/DepartmentIndex.aspx"></Menu>
    <Menu ID="" Name="员工管理" Url="Pages/Orgnization/EmployeeIndex.aspx"></Menu>
    <Menu ID="" Name="岗位管理" Url="Pages/Orgnization/PositionList.aspx"></Menu>
    <Menu ID="" Name="职称管理" Url="Pages/Orgnization/TitleList.aspx"></Menu>
  </Menu>
  <Menu ID="" Name="设置" Url="">
    <Menu ID="" Name="模块管理" Url="">
      <Menu ID="" Name="Portal管理" Url="Pages/Module/PortalList.aspx"></Menu>
      <Menu ID="" Name="模块管理" Url="Pages/Module/ModuleList.aspx"></Menu>
    </Menu>
    <Menu ID="" Name="权限" Url="">
      <Menu ID="" Name="用户管理" Url="Pages/Account/UserList.aspx"></Menu>
      <Menu ID="" Name="角色管理" Url="Pages/Account/RoleList.aspx"></Menu>
    </Menu>
    <Menu ID="" Name="字典值" Url="Pages/BaseData/BaseDataTypeList.aspx"></Menu>
    <Menu ID="" Name="站点配置" Url=""></Menu>
    <Menu ID="" Name="日志管理" Url="">
      <Menu ID="" Name="访问日志" Url=""></Menu>
      <Menu ID="" Name="操作日志" Url=""></Menu>
    </Menu>
    <Menu ID="" Name="开发测试" Url="Test.aspx"></Menu>
  </Menu>
</MenuConfig>