<?xml version="1.0" encoding="utf-8"?>
<MenuConfig>
  <Menu ID="" Name="个人桌面" Url="Desktop.aspx">
    <Menu ID="" Name="" Url=""></Menu>
  </Menu>
  <Menu ID="" Name="个人办公" Url="">
    <Menu ID="" Name="信息发布" Url=""></Menu>
    <Menu ID="" Name="信息发布" Url=""></Menu>
  </Menu>
  <Menu ID="" Name="内容管理" Url="">
    <Menu ID="" Name="信息发布" Url=""></Menu>
    <Menu ID="" Name="新闻动态" Url=""></Menu>
    <Menu ID="" Name="用户案例" Url=""></Menu>
    <Menu ID="" Name="产品特色" Url=""></Menu>
    <Menu ID="" Name="单页面" Url=""></Menu>
    <Menu ID="" Name="Html片断" Url=""></Menu>
    <Menu ID="" Name="模型管理" Url=""></Menu>
    <Menu ID="" Name="栏目管理" Url=""></Menu>
    <Menu ID="" Name="模板管理" Url=""></Menu>
    <Menu ID="" Name="静态页面" Url=""></Menu>
  </Menu>
  <Menu ID="" Name="组织机构" Url="">
    <Menu ID="" Name="" Url=""></Menu>
  </Menu>
  <Menu ID="" Name="插件" Url="">
    <Menu ID="" Name="" Url=""></Menu>
  </Menu>
  <Menu ID="" Name="设置" Url="">
    <Menu ID="" Name="权限配置" Url="">
      <Menu ID="" Name="" Url=""></Menu>
    </Menu>
    <Menu ID="" Name="站点配置" Url=""></Menu>
    <Menu ID="" Name="日志管理" Url="">
      <Menu ID="" Name="访问日志" Url=""></Menu>
      <Menu ID="" Name="操作日志" Url=""></Menu>
    </Menu>
  </Menu>
</MenuConfig>