<?xml version="1.0" encoding="utf-8"?>
<SiteConfig>
  <Title>测试站点</Title>
  <Keywords>测试站点</Keywords>
  <Description>测试站点</Description>
  <Url>http://www.baidu.com</Url>
  <Template>Default</Template>
  <WeiBoUrl>测试站点</WeiBoUrl>
  <Title>测试站点</Title>
  <Administrator>admin</Administrator>
  <Password>admin</Password>
</SiteConfig>