<?xml version="1.0" encoding="utf-8"?>
<SiteConfig>
  <Title>iEAS企业应用办公平台</Title>
  <Keywords>iEAS企业应用办公平台</Keywords>
  <Description>iEAS企业应用办公平台</Description>
  <Url>http://www.baidu.com</Url>
  <Template>Default</Template>
  <WeiBoUrl>测试站点</WeiBoUrl>
  <Title>测试站点</Title>
  <Title>测试站点</Title>
  <Title>测试站点</Title>
</SiteConfig>