<?xml version="1.0"?>
<ModelRegistryCollection xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ModelRegistry Name="新闻" Code="Article" Desc="信息发布" Module="内容管理" Path="Article.xml" />
  <ModelRegistry Name="用户案例" Code="UserCase" Desc="信息发布" Module="内容管理" Path="UserCase.xml" />
  <ModelRegistry Name="单页数据" Code="PageContent" Desc="单页数据" Module="内容管理" Path="PageContent.xml" />
  <ModelRegistry Name="新闻动态" Code="News" Desc="新闻动态" Module="内容管理" Path="News.xml" />
</ModelRegistryCollection>