<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="iEASConn" connectionString="Data Source=LIXIAOLONG-PC;Initial Catalog=iEAS;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="FrameworkRepository" connectionString="Data Source=LIXIAOLONG-PC;Initial Catalog=iEAS;User ID=sa;Password=123"/>
    <add name="iEASRepository" connectionString="Data Source=LIXIAOLONG-PC;Initial Catalog=iEAS;User ID=sa;Password=123"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863AF14B0044DA" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
